<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="home-pg">
        <div class="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#gifts">Gifts</a></li>
                <li><a href="#aboutus">Contact</a></li>
            </ul>
            <div class="name">
                Login 
            </div>
        </div>
        <div class="lgform">
            <form action="/login" method="POST" class="logform">
                <div>
                    <label for="email">Email</label>
                    <br>
                    <input type="email" class="form-control" name="username">
                </div>
                <div>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="yehhao1" style="height: 6vh;">Login</button>
            </form>
        </div>
    </div>
    <div class="about" id="aboutus">
        <div class="ysocial1">
            <div class="ysbox">
                <img src="t.png">
            </div>
            <div class="ysbox">
                <img src="f.png">
            </div>
            <div class="ysbox">
                <img src="g.png">
            </div>
            <div class="ysbox">
                <img src="y.png">
            </div>
            <div class="ysbox">
                <img src="i.png">
            </div>
        </div>
        <div class="The-text">
            The Gift Store
        </div>
        <div class="The-text2">
            All rights reserved copyright © 2024
        </div>
    </div>
</body>
</html>